<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
    <body>
        <%- include('./partials/nav.ejs') %> 

        <div class="not-found content">
            <!-- ! 404 Page not found from server -->
            OOPS, page not found!
            Blog Page
        </div>
        <%- include('./partials/footer.ejs') %> 
    </body>
</html>